<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lv_DonationCents::menu" title="Donations" module="Lv_DonationCents" sortOrder="35" resource="Lv_DonationCents::menu"/>
        <add id="Lv_DonationCents::all_donations" title="All Donations" module="Lv_DonationCents" sortOrder="99" parent="Lv_DonationCents::helloworld" action="exampleadminnewpage/helloworld" resource="Lv_DonationCents::helloworld_configuration"/>
        <add id="Lv_DonationCents::management_institution" title="Management Institution" module="Lv_DonationCents" sortOrder="99" parent="Lv_DonationCents::helloworld" action="exampleadminnewpage/helloworld" resource="Lv_DonationCents::helloworld_configuration"/>
    </menu>
</config>
