<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Lv_DonationCents::donations_menu" title="Donations" module="Lv_DonationCents" sortOrder="35" resource="Lv_DonationCents::menu"/>
        <add id="Lv_DonationCents::all_donations" title="Donations" module="Lv_DonationCents" sortOrder="10" parent="Lv_DonationCents::donations_menu" action="donations/donations/index" resource="Lv_DonationCents::donations"/>
        <add id="Lv_DonationCents::institutions" title="Institutions" module="Lv_DonationCents" sortOrder="20" parent="Lv_DonationCents::donations_menu" action="donations/institution/index" resource="Lv_DonationCents::institutions"/>
    </menu>
</config>
